*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.dump
*.key
*.crt
*.conf
tmp/
uploads/
.htaccess
moved_to_s3/
crypt/
positivessl/
patches/
aws/
backup/
logs/
*.pdf
*.PDF
cheques/
